.parallax-container {
    width: 100%;
  }
  
  .parallax-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .content {
    transform: translateY(50px); /* Default offset */
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  